@{
    ViewBag.Title = "Home Page";
}


<h1>Suivi et gestion des projets</h1>

<div class="container-fluid ">
    <div class="row">
        @*Liste des projets*@
        <div class="col-md-7">
            <h2>Supervision des projets</h2>


        </div>

        @*Panel bouttons d'actions*@
        <div class="col-md-5">
            <h2>Bouttons d'action</h2>
            <br />
            <a href="~/Home/NouveauProjet" class="btn btn-primary btn-lg btn-block">Créer un projet</a>
            <a href="~/Home/NouvelUtilisateur" class="btn btn-primary btn-lg btn-block">Ajouter un utilisateur</a>
            <a href="#" class="btn btn-primary btn-lg btn-block">Paramètres de l'application</a>
        </div>
    </div>
</div>

@*<div class="container-fluid ">
    <div class="row">
        <div class="col-md-4">
            <h2>Crénaux libres</h2>
            <p>
                @Html.Partial("_crenaux_libres",
                            new { testValue = "testValue", isDispo = "Disponnible" })
            </p>
        </div>
        <div class="col-md-5">
            <h2>Médecins libres</h2>
            <p>
                @Html.Partial("_medecins_libres",
                            new { testValue = "testValue", isDispo = "Disponnible" })
            </p>
        </div>
        <div class="col-md-3">
            <h2>Planning des salles</h2>
            <p>
                @Html.Partial("_planning_salles",
                            new { testValue = "testValue", isDispo = "Disponnible" })
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><a class="btn btn-default" href="#">Gestion</a></p>
        </div>
        <div class="col-md-5">
            <p><a class="btn btn-default" href="#">Gestion</a></p>
        </div>
        <div class="col-md-3">
            <p><a class="btn btn-default" href="#">Gestion</a></p>
        </div>
    </div>
</div>*@
