@{
    ViewBag.Title = "Nouveau projet";

}


<h2>Ajoût d'un nouveau projet</h2>
<hr />
<form>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Nom du projet</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="colFormLabel" placeholder="Nom du projet" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Trigramme</label>
        <div class="col-sm-10">
            <input type="text" maxlength="3" class="form-control" id="colFormLabel" placeholder="Trigramme Ex: ABC" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Responsable</label>
        <div class="col-sm-10">
            <div class="dropdown">
                <select class="form-control" id="sel1" required>
                    <option value="0">Sélectionnez le résponsable</option>
                    <option value="1">Baptiste LEQUEU</option>
                    <option value="2">Gilles GIRARD</option>
                    <option value="3">Benjamin CLEMENT</option>
                </select>
            </div>

        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
    </div>
</form>