
@{
    ViewBag.Title = "Tâche";
}

<h2>Visualisation d'une tâche</h2>

<div class="container" style="background-color: #eaf5ff!important;border-radius: .4rem;">
    <h1>Club de tenis : Libelle de la tache (Trigramme)</h1>
    <p>Responsable de la tâche : Baptiste LEQUEU</p>
    <p>
        Date de démarrage théorique : Jeudi 6 Décembre 2018
    </p>
    <p>
        Date de démarrage réelle : Vendredi 7 Décembre 2018
    </p>
    <p>
        Charge (jours) : 2 jours
    </p>
    <p>
        Statut : En cours / En attente / Terminée
    </p>
</div>


<div class="row">
    <div class="col-md-12">
        <h4>
            Cette tâche pourra démarrer après la suivante :
        </h4>
        <table class="table">
            <tbody>
                <tr class="text-success">
                    <td>Nom de la tâche</td>
                    <td>Gilles GIRARD</td>
                    <td>
                        <a href="~/Home/Jalon?idJalon=2" class="btn btn-primary btn-sm" role="button">GO</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <h3>Liste des exigences associés</h3>
        <p>
            @Html.Partial("ListeExigences",
                                          new { testValue = "testValue", isDispo = "Disponnible" })
        </p>
    </div>

    <div class="col-md-5">
        <h3>Actions</h3>
        <br />
        <a href="#" class="btn btn-primary btn-lg btn-block">Associer une exigence à la tâche</a>
        <a href="#" class="btn btn-primary btn-lg btn-block">Modifier la tâche</a>
    </div>
</div>