<style>
    .bg-red {
        background-color: red;
    }
    .bg-green {
        background-color: green;
    }
</style>

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" class="bg-red">8h00</th>
            <td class="bg-green">8h30</td>
        </tr>
        <tr>
            <th scope="row" class="bg-red">9h00</th>
            <td class="bg-red">9h30</td>
        </tr>
        <tr>
            <th scope="row" class="bg-green">10h00</th>
            <td class="bg-red">10h30</td>
        </tr>
    </tbody>
</table>