
<table class="table">
    <thead>
        <tr>
            <th scope="col">Médecins</th>
            <th scope="col">Patient</th>
            <th scope="col">Salle</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-success">
            <td>Dr. Jean machin</td>
            <td>Disponnible</td>
            <td>Aucune</td>
        </tr>
        <tr class="text-muted">
            <td>Dr. Clement Benjamin</td>
            <td>Jean charles</td>
            <td>Jaune</td>
        </tr>
        <tr class="text-muted">
            <td>Medecin 3</td>
            <td>Patient 2</td>
            <td>Vert</td>
        </tr>
        <tr class="text-info">
            <td>Dr. Helene Elegarson</td>
            <td>Disponnible</td>
            <td>Aucune</td>
        </tr>
    </tbody>
</table>