
<table class="table">
    <thead>
        <tr>
            <th scope="col">Salle</th>
            <th scope="col">Disponnibilité</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-muted">
            <td>Rouge</td>
            <td>Occupée</td>
        </tr>
        <tr class="text-success" >
            <td>Bleu</td>
            <td>Libre</td>
        </tr>
        <tr class="text-muted">
            <td>Vert</td>
            <td>Occupée</td>
        </tr>
        <tr class="text-info">
            <td>Jaune</td>
            <td>Fin de consultation</td>
        </tr>
    </tbody>
</table>