<div class="container" style="background-color: #eaf5ff!important;border-radius: .4rem;">
    <h1>Club de Tennis</h1>
    <p class="lead">Description Lorem ipsum delor</p>
    <p>Responsable : Gilles GIRARD</p>
    <p>
        Date théorique calculée de fin de projet : Vendredi 7 Décembre 2018
    </p>
    <p>Taux de couverture des exigences : 100%</p>
</div>