
@{
    if (Model.Count != 0)
    {
        if (Model.ID != null && Model.ID != 0 && Model.Responsable != null)
        {
            <div class="row">
                <div class="col-md-3">
                    <h5>Voir plus : </h5>
                </div>
                <div class="col-md-9">

                    <a href="~/Home/Jalons?idProjet=@Model.Projet.ID&jalonsorderby=1" class="btn btn-info btn-sm" role="button">Jalons terminés</a>
                    <a href="~/Home/Jalons?idProjet=@Model.Projet.ID&jalonsorderby=2" class="btn btn-info btn-sm" role="button">Jalons en cours</a>
                    <a href="~/Home/Jalons?idProjet=@Model.Projet.ID&jalonsorderby=3" class="btn btn-info btn-sm" role="button">Jalons en attente</a>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Libelle</th>
                        <th scope="col">Responsable</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="text-success">
                        <td>@Model.Libelle</td>
                        <td>@Model.Responsable.Nom @Model.Responsable.Prenom</td>
                        <td>
                            <a href="~/Home/Jalon?idJalon=@Model.ID" class="btn btn-primary btn-sm" role="button">GO</a>
                        </td>
                    </tr>
                </tbody>
            </table>


        }
    }
    else
    {

        <div class="row">
            <div class="col-md-12">
                <hr />
                <p>Il n'y a pas encore de jalons.</p>
            </div>
        </div>

    }
}
