@{
    if (Model.Count != 0)
    {
        if (Model != null)
        {
            <div class="row">
                <div class="col-md-3">
                    <h5>Voir plus : </h5>
                </div>
                <div class="col-md-9">

                    <a href="~/Home/Taches?idProjet=@ViewBag.IDProjet&tacheorderby=1" class="btn btn-info btn-sm" role="button">Taches terminés</a>
                    <a href="~/Home/Taches?idProjet=@ViewBag.IDProjet&tacheorderby=2" class="btn btn-info btn-sm" role="button">Taches en cours</a>
                    <a href="~/Home/Taches?idProjet=@ViewBag.IDProjet&tacheorderby=3" class="btn btn-info btn-sm" role="button">Taches en attente</a>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Libelle</th>
                        <th scope="col">Responsable</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    
                    @{
                        foreach (var tache in Model)
                        {
                    <tr class="text-success">
                        <td>@tache.Libelle</td>
                        <td>@tache.Responsable.Nom @tache.Responsable.Prenom</td>
                        <td>
                            <a href="~/Home/Tache?idProjet=@ViewBag.idProjet&idTache=@tache.ID" class="btn btn-primary btn-sm" role="button">GO</a>
                        </td>
                    </tr>
                        }
                    }
                </tbody>
            </table>


        }
    }
    else
    {

        <div class="row">
            <div class="col-md-12">
                <hr />
                <p>Il n'y a pas encore de taches.</p>
            </div>
        </div>

    }
}
