<div class="row">
    <div class="col-md-3">
        <h5>Voir plus : </h5>
    </div>
    <div class="col-md-9">
        <a href="?jalonsorderby=1" class="btn btn-info btn-sm" role="button">Jalons terminés</a>
        <a href="?jalonsorderby=2" class="btn btn-info btn-sm" role="button">Jalons en cours</a>
        <a href="?jalonsorderby=3" class="btn btn-info btn-sm" role="button">Jalons en attente</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Responsable</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-success">
            <td>Nom du jalon</td>
            <td>Gilles GIRARD</td>
            <td>
                <a href="~/Home/Jalon?idJalon=1" class="btn btn-primary btn-sm" role="button">GO</a>
            </td>
        </tr>
    </tbody>
</table>