<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="esimed.serviceda.sgprojet.Properties.Settings.t_Suivi_ProjetConnectionString"
            connectionString="Data Source=SPECTRE\SQLEXPRESS;Initial Catalog=t_Suivi_Projet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
