
@{
    ViewBag.Title = "Jalons";
    if (ViewBag.ListeJalons == null)
    {
        ViewBag.ListeJalons = new List<esimed.bean.sgprojet.Jalon>();
    }
    List<esimed.bean.sgprojet.Jalon> ListeJalons = ViewBag.ListeJalons;
}

<h2>Jalons</h2>

<div class="container-fluid ">
    <div class="row">
        <a href="~/Home/NouvelleTache" class="btn btn-primary btn-lg btn-block">Ajouter un nouveau jalon</a>
    </div>
    <div class="row">
        <div class="col-md12">
            <h3>Aperçu des prochains jalons</h3>
            <p>
                @Html.Partial("ListeJalons", ListeJalons)
            </p>
        </div>
    </div>
</div>